name: Deploy Blindado (Docker)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy_hosting:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Código
        uses: actions/checkout@v4

      # Usamos w9jds/firebase-action que corre en Docker.
      # Esto elimina el error de 'npx failed' porque no usa npx del sistema.
      - name: Publicar en Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          # Usamos tu clave secreta existente
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_NCLEX_LIBRARY_9E9E7 }}
          # Definimos el proyecto explícitamente
          PROJECT_ID: nclex-library-9e9e7
