name: Deploy Forzado

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy_hosting:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Código
        uses: actions/checkout@v4

      - name: Publicar en Firebase (Modo Docker)
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          # Usamos tu clave secreta existente
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_NCLEX_LIBRARY_9E9E7 }}
          # Especificamos el proyecto explícitamente para evitar confusiones
          PROJECT_ID: nclex-library-9e9e7
