name: Deploy to Firebase Hosting

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy_hosting:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # HEMOS ELIMINADO EL SCRIPT QUE BORRABA EL CATÁLOGO.
      # Ahora GitHub respetará fielmente los archivos que tú subas.

      - name: Firebase Deploy (Hosting)
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_NCLEX_LIBRARY_9E9E7 }}
          channelId: live
          projectId: nclex-library-9e9e7
