name: Deploy to Firebase

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy_hosting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to Firebase Hosting
        uses: w9jds/firebase-action@v15.5.1
        with:
          args: deploy --only hosting
        env:
          GCP_SA_KEY: ${{ secrets.NUEVO_FIREBASE_KEY }}
          PROJECT_ID: nclex-masterclass
