name: Deploy Firebase Hosting

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy_hosting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: w9jds/firebase-action@v15.5.1
        with:
          args: "deploy --only hosting --project nclex-masterclass-b009c --site nclexpass"
        env:
          GCP_SA_KEY: ${{ secrets.NUEVO_FIREBASE_KEY }}
